# build artifacts
/bin/
/target/

# release files
release/src/git_version.rs

# signing test keys for IGVM
# See `scripts/gen_igvm_signing_keys.sh` and `scripts/test_sign_qemu_igvm.sh`
testkeys/

# IDE/editors tmp files
*.swp
*~
.idea/

# verification logs
verus*.log

# local fuzzing artifacts
**/fuzz/target
**/fuzz/corpus
**/fuzz/artifacts
**/fuzz/coverage
