[package]
name = "svsm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[profile.dev]

[profile.release]

[[bin]]
name = "stage2"
path = "src/stage2.rs"
test = false

[[bin]]
name = "svsm"
path = "src/svsm.rs"
test = false

[lib]
test = true
doctest = false

[dependencies]
bitflags = "1.3.2"
gdbstub = { version = "0.6.6", default-features = false }
gdbstub_arch = "0.2.4"
log = { version = "0.4.17", features = ["max_level_info", "release_max_level_info"] }

[build-dependencies]
cc = "1.0.46"

[features]
default = ["enable-stacktrace"]
enable-stacktrace = []
enable-gdb = []
