# CODEOWNERS file for COCONUT-SVSM

# Technical Steering Committee (TSC)
# Joerg Roedel, Jon Lange, Peter Fang, Stefano Garzarella
* joerg.roedel@amd.com jlange@microsoft.com peter.fang@intel.com sgarzare@redhat.com

# Subsystem Maintainers

# Attestation subsystem
# Tyler Fanelli
/libaproxy/* tfanelli@redhat.com
/tools/aproxy/* tfanelli@redhat.com
/kernel/src/attest.rs tfanelli@redhat.com
