name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install latest stable
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: x86_64-unknown-none
            profile: minimal
            override: true
            components: rustfmt, rust-src, clippy

      # ubuntu-latest does not have binutils 2.39, which we need for
      # ld to work, so build all the objects without performing the
      # final linking step.
      - name: Build
        run: make FEATURES="default,enable-gdb" stage1/kernel.elf stage1/test-kernel.elf stage1/stage2.bin stage1/test-stage2.bin stage1/stage1.o stage1/reset.o


      - name: Run tests
        run: make test

      - name: Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Format on fuzzing harnesses
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --manifest-path fuzz/Cargo.toml -- --check

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features -- -D warnings

      - name: Clippy on tests
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --tests --target=x86_64-unknown-linux-gnu -- -D warnings

      - name: Clippy on fuzzing harnesses
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-features --target=x86_64-unknown-linux-gnu --manifest-path fuzz/Cargo.toml -- -D warnings
        env:
          RUSTFLAGS: --cfg fuzzing

      - name: Check documentation
        run: make doc
        env:
          RUSTDOCFLAGS: -D warnings  
